RAPIDAPI_KEY=9a0f172768mshc46725afc0019dfp172bddjsn73455f16dc83
RAPIDAPI_HOST=gpt-5-4-mini.p.rapidapi.com
RAPIDAPI_AI_URL=https://gpt-5-4-mini.p.rapidapi.com/chat/completions
RAPIDAPI_MODEL=gpt-5.4-mini
